#> These need to all be filled in

# Master Settings
DEVELOPMENT_GOD_MODE=True # This is for development only, it will allow you to use the API without authentication

# OKX SETTINGS
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=
OKX_VERBOSE=DEBUG
OKX_SANDBOX_MODE=True
REDIS_STREAM_MAX_LEN=1000
#
#OKX_REST_SERVICE_PORT=8080
OKX_REST_MODULE_PATH=main
OKX_REST_MODULE_NAME=app
#
OKX_WS_SERVICE_PORT=8081
OKX_WS_MODULE_PATH=websocket_app
OKX_WS_MODULE_NAME=app

# Firebase
FIREBASE_API_KEY=

# Redis Settings
REDIS_SERVICE_PORT=6379
REDIS_SERVICE_DB=0
REDIS_SERVICE_PASSWORD=


# H2O Dashboard Settings
BYPASS_SECURITY=True

# GitHub Settings
GITHUB_TOKEN=
GITHUB_REPO=

# Oath2 Settings
SECRET_KEY =
ALGORITHM =
DEFAULT_KEY_EXPIRE_TIME = 30